        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">.
                <a routerLink="/">
                    Admin Dashboard
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav nav-list" *ngFor="let menu of MenuItems">
                    <li *ngIf="menu.url != ''" routerLink="{{menu.url}}" [routerLinkActive]="['active']">
                        <a href="javascript:void(0)">
                            <i class="material-icons">{{menu.icon}}</i>
                            <p>{{menu.name}}</p>
                        </a>
                    </li> 
                    <li *ngIf="menu.url == ''">
                        <a class="accordion-heading" data-toggle="collapse" [attr.data-target]="'#submenu' + menu.id">
                            <span class="nav-header-primary"><i class="material-icons">{{menu.icon}}</i>{{menu.name}} <span class="pull-right"><b class="caret"></b></span></span>
                        </a>

                        <ul class="nav nav-list collapse" id="submenu{{menu.id}}">
                            <li *ngFor="let submenu of menu.children" routerLink="{{submenu.url}}" [routerLinkActive]="['active']">
                                <a href="javascript:void(0)" title="Title">{{submenu.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>